.benefits {
  margin-bottom: 27px;

  @include above($tablet-width) {
    margin-bottom: 40px;
  }

  @include above($desktop-width) {
    margin-bottom: 50px;
  }
}

.benefits__list {
  @include list-reset;

  @include above($desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.benefits__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 32px;
  background-color: $basic-grey;

  @include above($tablet-width) {
    flex-direction: column;
    padding-top: 76px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 53px;
    margin-bottom: 30px;
  }

  @include above($desktop-width) {
    width: calc(50% - 40px);
    margin-bottom: 20px;
    padding-top: 78px;
    padding-left: 52px;
    padding-right: 54px;
  }
}
