.cards {
  display: grid;
  align-items: start;
  margin-bottom: 12px;
  position: relative;

  @include above($tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @include above($desktop-width) {
    grid-template-columns: repeat(4, minmax(245px, 1fr));
    gap: 63px 80px;
  }
}
