.contacts {
  position: relative;

  &--inner {
    background-color: $basic-grey;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;

  @include above($tablet-width) {
    padding: 65px 72px 60px 82px;
  }

  @include above($desktop-width) {
    position: absolute;
    top: 101px;
    left: calc(50% - 611px);
    width: 570px;
    background-color: $basic-white;
    padding-top: 57px;
    padding-left: 88px;
    padding-right: 73px;
  }
}

.contacts__title {
  @include font-size (16px, 20px, 400);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
  width: 51%;

  @include above($tablet-width) {
    @include font-size (20px, 26px, 400);
    width: 170px;
    margin-left: -11px;
  }
}

.contacts__address {
  @include font-size (14px, 20px, 400);
  font-style: normal;
  width: 50%;

  @include above($tablet-width) {
    @include font-size (16px, 20px, 400);
    text-align: right;
    width: 160px;
  }

  @include above($desktop-width) {
    text-align: left;
    width: 170px;
  }
}

.contacts__city {
  @include above($tablet-width) {
    display: block;
    margin-top: 20px;
  }

  @include above($tablet-width) {
    margin-top: 18px;
  }
}

.contacts__map-wrapper {
  min-width: 320px;
  min-height: 365px;
  background-image: url("../img/map/map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina () {
    background-image: url("../img/map/map-mobile@2x.png");
  }

  @include above($tablet-width) {
    min-height: 400px;
    background-image: url("../img/map/map-tablet@1x.png");

    @include retina () {
      background-image: url("../img/map/map-tablet@2x.png");
    }
  }

  @include above($desktop-width) {
    background-image: url("../img/map/map-desktop@1x.png");

    @include retina () {
      background-image: url("../img/map/map-desktop@2x.png");
    }
  }
}
