.example {
  background-color: $special-grey-bg;
  padding: 27px 0 25px;

  @include above($tablet-width) {
    padding-top: 45px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, $basic-white 57%, $basic-grey 57%, $basic-grey 100%);
  }

  @include above($desktop-width) {
    background-image:
      linear-gradient(to bottom, $basic-white 134px, $transparent 134px),
      linear-gradient(to right, $basic-grey calc(50% + 325px), $special-grey-bg calc(50% + 325px));
    padding: 0;
    padding-bottom: 55px;
  }
}

.example__wrapper {
  display: grid;
  gap: 40px;

  @include above($desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.example__title {
  @include font-size (36px, 40px, 400);
  font-family: $primary-text;
  color: $basic-black;
  margin: 0;
  margin-bottom: 33px;

  @include above($tablet-width) {
    @include font-size (60px, 60px, 400);
    margin-bottom: 63px;
  }

  @include above($desktop-width) {
    margin-bottom: 145px;
  }
}

.example__description {
  @include font-size (14px, 18px, 400);
  margin: 0;
  margin-bottom: 25px;

  @include above($tablet-width) {
    @include font-size (16px, 24px, 400);
    margin-bottom: 37px;
    margin-right: 2px;
  }

  @include above($desktop-width) {
    width: 436px;
    margin-bottom: 51px;
  }
}

.example__stats {
  @include above($tablet-width) {
    display: flex;
    align-items: center;
  }

  @include above($desktop-width) {
    flex-direction: column;
  }
}

.example__slider {
  @include above($tablet-width) {
    padding-top: 566px;
  }

  @include above($desktop-width) {
    padding-top: 496px;
  }
}

.example__expenses {
  @include font-size (14px, 20px, 400);
  font-family: $primary-text;
  text-transform: uppercase;
  color: $basic-black;
  text-align: center;

  @include above($tablet-width) {
    @include font-size (20px, 20px, 400);
    margin-left: auto;
    text-align: end;
    margin-top: 0;

    span {
      display: block;
      padding-top: 10px;
    }
  }

  @include above($desktop-width) {
    @include font-size (20px, 20px, 400);
    margin-left: 0;
    margin-right: auto;

    span {
      display: initial;
      margin-left: 58px;
    }
  }
}
