.main-nav {
  position: relative;
  width: 100%;
  min-height: 42px;

  @include below($mobile-width-only) {
    &--closed {
      display: none;
    }

    &--opened {
      display: block;
    }

    &--nojs {
      display: block;

      .main-nav__list {
        display: block;
      }
    }
  }

  @include above($tablet-width) {
    width: 516px;
  }

  @include above($desktop-width) {
    width: 50%;
  }
}

.main-nav__list {
  @include list-reset;
}
