.program-selection {
  padding-top: 17px;
  padding-bottom: 18px;

  @include above($tablet-width) {
    padding-top: 22px;
    padding-bottom: 70px;
  }

  @include above($desktop-width) {
    padding-bottom: 78px;
  }
}

.program-selection__wrapper {
  @include above($tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @include above($desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.program-selection__headline {
  @include font-size (36px, 36px, 400);
  font-family: $primary-text;
  color: $basic-black;
  margin: 0;
  margin-bottom: 37px;

  @include above($tablet-width) {
    @include font-size (60px, 60px, 400);
    margin-bottom: 55px;
    margin-top: 5px;
  }

  @include above($desktop-width) {
    margin-top: -24px;
    margin-bottom: 57px;
  }
}

.program-selection__subtitle {
  @include font-size (14px, 18px, 400);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  width: 90%;

  @include above($tablet-width) {
    @include font-size (20px, 30px, 400);
    width: 52%;
    margin-bottom: 66px;
  }

  @include above($desktop-width) {
    width: 30%;
  }
}
