.site-list {
  position: relative;

  @include above($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: center;
    margin-left: auto;
    padding-top: 10px;
  }

  @include above($desktop-width) {
    padding-top: 7px;
  }
}

.site-list__item {
  position: relative;

  @include above($tablet-width) {
    margin-left: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    .site-list__link--active::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $basic-green;
    }

    @include above($desktop-width) {
      margin-left: 34px;

      &--white {
        position: relative;

        .site-list__link--active::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $basic-white;
        }

        .site-list__link {
          color: $basic-white;

          &:hover {
            color: rgba $basic-white, 0.8;
          }

          &:focus {
            color: rgba $basic-white, 0.5;
          }
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    left: 50%;
    width: 100vw;
    height: 1px;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $basic-light-grey;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    width: 100vw;
    height: 1px;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: $basic-light-grey;
  }

  @include above($tablet-width) {
    &::before,
    &:last-child::after {
      display: none;
    }
  }
}

.site-list__link {
  @include font-size (20px, 20px, 500);
  font-family: $primary-text;
  color: $basic-black;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 23px 35px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.3;
  }

  @include above($tablet-width) {
    @include font-size (18px, 24px, 400);
    border: none;
    padding: 0;
    padding-bottom: 6px;
  }

  @include above($desktop-width) {
    @include font-size (20px, 30px, 400);
    padding-bottom: 8px;
  }
}
