@mixin font-size ($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin above($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin below($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin retina() {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
