// Fonts
$primary-text: "Montserrat", "Arial", sans-serif;
$secondary-text: "Arial", sans-serif;

// Color
$basic-yellow: #ffcc00;
$basic-black: #000000;
$basic-white: #ffffff;
$transparent: rgba($basic-black, 0);

$accent-color: $basic-yellow;
$primary-text-color: $basic-black;


// Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1366px;
$desktop-width-max: 1920px;

//Retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
